/* This is an example CSS file, feel free to remove/edit it anytime */
    body {
      background-color: var(--bg-gray);
    }

    :root {
      --bg-gray: rgba(224, 219, 219, 0.768);
      --bg-voilet: rgba(68, 0, 255, 0.747);
      --bg-green: rgba(0, 128, 0, 0.63);
      --bg-orange: rgba(255, 166, 0, 0.733);
    }

    @font-face {
      font-family: Robot-SemiBold;
      src: url("assets/fonts/Roboto-Semibold.ttf") format('ttf'),
    }
    @font-face {
      font-family: Robot-Regular;
      src: url("assets/fonts/Roboto-Medium.ttf") format('ttf'),
    }

    .bg-gray {
      background-color: rgba(239, 239, 239, 0.672);
    }

    .inpur-search input {
      border-radius: 7px;
      padding: 7.2px;
      border: none;
      outline: none;
      background-color: var(--bg-gray);
    }


    .list-style-none {
      list-style-type: none;
    }

    .btn {
      /* border: none; */
      padding: 5px;
      color: #000000;
      padding: 5px 10px;
    }

    .btn-voilet {
      background-color: var(--bg-voilet);
    }

    .btn-green {
      background-color: var(--bg-green);
    }

    .btn-orange {
      background-color: var(--bg-orange);
    }

    .card {
      box-shadow: 0 0 3px #000000;
      border-radius: 15px;
      height: 100%;
    }

    .footer {
      position: relative;
      bottom: 0;
    }
    h4{
      font-family: "Robot-SemiBold";
      font-weight: 700;
    }
    .navigation li button.active {
  border-bottom: 2px solid var(--bg-green);
}
#checkbox img{
  width: 22px;
  cursor: pointer;
}
#input{
  height: 17px;
  width: 17px;
  cursor: pointer;
}
.popup{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.delete ,.edit{
  cursor: pointer;
}
.line-through {
  text-decoration: line-through;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
