* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin-top: 81px;
}
:root {
    --green-color: green;
}

.hero-bar {
    box-shadow: 0px 0px 5px 0px #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: bisque;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-bar a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px 0 10px;
    color: #000000;
    transition: all .2s ease-in-out;
}

.nav-bar a:hover {
    color: orange;
}

/* ================================== */

.food-section {
    margin: 100px auto;
    height: 350px;
}

.green-bg {
    background-color: var(--green-color);
    height: 100%;
    position: relative;
    right: -21px;

}

.food-section .mt-1,
.food-section .check-btn {
    margin-top: 10px;
    line-height: 20px;
}

.food-section .check-btn,
.check-btn {
    padding: 7px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-weight: 800;
}

.food-section .check-btn:hover,
.check-btn:hover {
    box-shadow: 0 0 3px #000;
    background-color: rgb(241, 158, 3);
}

.food-section h1 {
    font-size: 75px;
    color: #3a3737;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.food-section p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
    color: rgb(71, 71, 71);
}

.food-section img {
    transition: all .3s ease-in-out;
}

.scrolling-words-box {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -200px;
}

.scrolling-words-box ul {
    animation: scrollUp 4s infinite;
}

.scrolling-words-box ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 25rem;
    list-style: none;
}

li img {
    width: 300px;
}

@keyframes scrollUp {

    15%,
    25% {
        transform: translateY(-3%)
    }

    40%,
    50% {
        transform: translateY(-35%)
    }

    65%,
    75% {
        transform: translateY(-70%)
    }

    95%,
    to {
        transform: translateY(-96%)
    }
}
/* ==================================== */

.bg-green-1{
    background-color: var(--green-color);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    left: -170px;
  }
  .about-img img:nth-child(1){
    position: absolute;
    left: -12px;
    top: -50px;
  }
  .about-img img:nth-child(2){
    position: absolute;
    top: 70px;
    left: 100px;
    width: 420px;
  }
  .about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0 10px 0 10px;
  }
  .about-content h6{
    font-size: 25px;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .about-content h1{
    font-size: 40px;
    color: #3a3737;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .about-content p{
    margin-top: 10px;
    width: 50%;
  }
  /* ================================= */

  .heading-title{
    text-align: center;
  }
  .heading-title h1{
    color: #3a3737;
  }
  .heading-title h3{
    color: orange;
    font-size: 25px;
  }
  .card{
    /* height: 60vh; */
    /* width: 25%; */
    overflow: hidden;
    box-shadow: 0 0 8px black;
    border-radius: 10px;
    margin: 15px;
    transition: all .3s ease-in-out;
  }
  .card img{
    width: 100%;
    transition: all .4s ease-in-out;
    object-fit: cover;
    filter: drop-shadow(0 0 1px #000);
  }
  .card:hover{
    transform: scale(1.1) rotate(1deg);
  }
  /* ============================= */
  .happy-clients {
    height: 400px;
  }
  .happy-clients img{
    transition: all .3s ease-in-out;
  }
  .happy-clients img:hover{
    transform: rotateZ(370deg);
    box-shadow: 0 0 10px #000 inset;
    border: 3px solid #000;
  }
  .good-food h1{
    padding: 20px;

  }
   .heading-title span{
    color: orange;
  }
  .happy-clients > img{
    width: 100%;
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 10px;
    transition: all .3s ease-in-out;
  }
  /* ============================== */
  .input-box input{
    padding: 10px;
    outline: none;
    border: 2px solid rgb(99, 97, 97);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .input-box .btn-submit{
    background-color: var(--green-color);
    border: none;
    margin: 20px 0 0 0;
    color: white;
    cursor: pointer;
  }
  .input-box .btn-submit:hover{
    background-color: rgb(3, 114, 3);
  }
  .card-1{
    padding:20px 40px;
    box-shadow: 0 0 10px #000;
    border-radius: 30px 0px;
    transition: all .3s ease-in-out;
    margin: 20px 0 10px 0;
  }
  .card-1:hover{
    background-color: rgb(223, 180, 7);
    border-radius: 0px 30px;
  }
  .card-1 img{
    transition: all .3s ease-in-out;
  }
  .card-1:hover img{
    transform:rotateZ(364deg);
    scale: 1.5;
    filter: drop-shadow(0 0 1px #000);

  }
.footer-section{
    background-color: #d7d1d1;
    /* box-shadow: 0 0 5px #000; */
    color: rgb(0, 0, 0) ;
    padding: 10px;
    /* display: flex; */
    /* width: 100%; */
    /* margin-right: 0; */
    /* justify-content: space-evenly; */
}
a.link-a{
    color: #000000;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
a.link-a:hover {
    color: orange;
}
  .footer {
    width: 100%;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #585555;
  }
  
  .footer a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .footer span {
    font-size: 14px;
    color: #fff;
  }
/* ============================================== */

  #toggle-btn, #toggle-btnC {
    display: none;
    cursor: pointer;

  }
  @media (max-width: 768px) {
    .nav-bar {
        display: none;
        flex-direction: column;
        top: 400px;
        margin-top: 50px;
        background-color: transparent;
        width: 100%;
        padding: 15px;
        z-index: 3;
      }

      .nav-bar.show {
        display: flex;
        margin-left: -210px;
        margin-top: 38px;
        width: 100%;
        z-index: 100;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .nav-bar.show a{
        padding: 12px;
        border-bottom: 3px solid black;
      }
      #toggle-btn, .nav-bar.show ~ #toggle-btnC {
        display: block;
      }
      #toggle-btn.hide{
        display: none;
      }
      .green-bg{
        position: inherit;
      }
      .scrolling-words-box{
        right: 0px;
        height: 100%;
        z-index: -1;
      }
      .scrolling-words-box ul li{
        height: 6rem;
      }
      .scrolling-words-box ul li img{
        width: 100px;
        opacity: .4;
      }
      .about-img img:nth-child(2){
        width: 200px;
        left: 30px;
      }
      .bg-green-1{
        height: 310px;
        width: 310px;
      }
      .mt-m-01{
        margin-top: 60%;
        margin-bottom: -170px;
      }
      .about-content h1{
        font-size: 25px;
      }
      .about-content p{
        width: 90%;
      }
      .happy-clients > img {
        width: 100%;
        height: 300px;
      }
      .food-section{
        height: auto;
      }
      .food-section h1 {
        font-size: 36px;
        font-weight: 600;
      }
      .ms-m-04{
        margin-left: 4px;
      }
  }
